<div class="ui card chatbox">
  <div class="content">
<div class="ui inverted pointing vertical menu">
  <a class="item">
   Online Users
  </a>
  <div class="item">
    <b>Grouped Section</b>
    <div class="menu">
      <a class="item">Subsection 1</a>
      <a class="item">Subsection 1</a>
      <a class="item">Subsection 1</a>
    </div>
  </div>
</div>
</div>
</div>